<div>
    <h3 class="text-center">Filter by Island</h3>
    <div class="row">
        <div class="col">
            <input id="chkItem1" name="chkItem1" type="checkbox" data-dojo-type="dijit/form/CheckBox" value="Lopez"/>
            <label for="chkItem1">Lopez</label>
        </div>
        <div class="col">
            <input id="chkItem2" name="chkItem2" type="checkbox" data-dojo-type="dijit/form/CheckBox" value="Orcas"/>
            <label for="chkItem2">Orcas</label>
        </div>
        <div class="col">
            <input id="chkItem3" name="chkItem3" type="checkbox" data-dojo-type="dijit/form/CheckBox" value="San Juan"/>
            <label for="chkItem3">San Juan</label>
        </div>
    </div>
</div>
