<div>
    <h3 class="text-center">Filter by Something</h3>
    <div class="row">
        <div class="col">
            <input id="chkItem1" name="chkItem1" type="checkbox" data-dojo-type="dijit/form/CheckBox" value="Item1"/>
            <label for="chkItem1">Item 1</label>
        </div>
        <div class="col">
            <input id="chkItem2" name="chkItem2" type="checkbox" data-dojo-type="dijit/form/CheckBox" value="Item2"/>
            <label for="chkItem2">Item 2</label>
        </div>
        <div class="col">
            <input id="chkItem3" name="chkItem3" type="checkbox" data-dojo-type="dijit/form/CheckBox" value="Item3"/>
            <label for="chkItem3">Item 3</label>
        </div>
    </div>
</div>
